/* General Styles */
body {
  font-size: 16px;
  color: rgb(33, 33, 33);
  background-color: #ffe3e3;
  font-weight: 200;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
  overflow-y: auto;
}

.landing-page {
  background: url("/images/background-landing-page.jpg") no-repeat center center
    fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.button-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 30%;
  left: 20px;
  gap: 10px;
  transform: translateY(50%);
}

.button-landing-page {
  padding: 10px 20px;
  background-color: #ffe3e3;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.button-landing-page:hover {
  background-color: #45a049;
}

.footer {
  font-weight: 100;
  font-variant: normal;
  background-color: #ffe3e3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.navbar {
  margin-bottom: 20px;
  background-color: #ffe3e3;
  color: black;
  padding: 0;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  font-size: 24px;
  color: black;
  text-decoration: none;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: purple;
  text-decoration: none;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-grow: 1; */
}

.navbar-nav {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 0;
  margin-right: auto;
}

.nav-item {
  margin: 0;
  margin-right: 30px;
}

.nav-link {
  position: relative;
  display: inline-block;
  color: black;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  width: 120px;
  color: purple;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 115%;
  left: 50%;
  margin-left: -60px;
  transition: opacity 0.3s;
}

.nav-link:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.welcome-message {
  margin-right: 20px;
  font-size: 16px;
  color: #555;
}

.button-logout:hover,
.button-logout:focus {
  background-color: red;
}

.flash-messages {
  position: fixed;
  left: 250px;
  transform: translateX(-50%);
  width: 30%;
  max-width: 800px;
  z-index: 1000;
  margin-top: 100px;
  text-align: left;
}

.alert {
  margin: 20px auto;
  width: 80%;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  background-color: #dff0d8;
  color: #3c763d;
  border-color: #d6e9c6;
}

.alert-danger {
  background-color: #f2dede;
  color: #a94442;
  border-color: #ebccd1;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 10px 15px;
  border: 1px solid #343637;
  color: black;
  border-radius: 5px;
  text-decoration: none;
}

.page-item.active .page-link {
  background-color: #ded6d8;
  color: black;
}

/* Form Styles */
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 20px auto;
}

.form-group {
  display: block;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-bottom: 10px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  font-size: 14px;
  box-sizing: border-box;
  margin-top: 5px;
}

input[type="checkbox"] {
  width: auto;
  margin-top: 5px;
}

button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  color: #4d5353;
  cursor: pointer;
  font-size: 13px;
  line-height: 29px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  vertical-align: middle;
  padding: 0 10px;
  margin-top: 10px;
}

button:hover {
  background-color: #ded6d8;
}

button:focus {
  border-color: #6790bb;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

/* Add to List Styles */
.add-to-list {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.add-to-list a {
  text-align: right;
}

/* List Styles */
.list-group {
  width: 80%;
  margin: 20px auto;
  padding: 0;
  list-style: none;
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 5px 0;
}

.empty-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 5px 0;
  padding: 20px;
}

.table {
  width: 100%;
  table-layout: fixed;
}

.table th,
.table td {
  text-align: left;
  padding: 8px;

  width: calc(100% / 6);
}

.table th {
  background-color: #f2f2f2;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

/* Container and Column Styles */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.item-info {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.item-info strike {
  margin-left: 20px;
}

.item-info.marked-done .buttonIcon {
  visibility: hidden;
}

.quantity {
  margin-left: 10px;
}

.delete-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.buttonIcon {
  width: 16px;
  height: 16px;
  fill: #4d5353;
  transition: fill 0.3s ease;
  margin-right: 20px;
  margin-left: 10px;
}
