/* General Styles */
body {
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */

  background: linear-gradient(to left, #ded6d8, #ffe3e3);
  color: rgb(33, 33, 33);
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.alert {
  margin: 20px auto;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 10px 15px;
  border: 1px solid #dee2e6;
  color: #007bff;
  text-decoration: none;
}

.page-item.active .page-link {
  background-color: #007bff;
  color: #fff;
}

/* Form Styles */
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 20px auto;
}

input,
select {
  padding: 0 5px;
  margin: 5px;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  font-size: 13px;
  line-height: 29px;
  vertical-align: middle;
}

button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  color: #4d5353;
  cursor: pointer;
  font-size: 13px;
  line-height: 29px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  vertical-align: middle;
  padding: 0 10px;
}

button:hover {
  background-color: #d3ffce;
}

button:focus {
  border-color: #6790bb;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

/* List Styles */
.list-group {
  width: 80%;
  margin: 20px auto;
  padding: 0;
  list-style: none;
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px;
  margin: 5px 0;
}

.completedTodo {
  color: grey;
  text-decoration: line-through;
}

.checkbox {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #ddd;
  appearance: none;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}

/* Container and Column Styles */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .column {
  display: flex;
  align-items: center;
}

.container .column .quantity {
  margin-left: 10px;
}
/* .container .column:first-child,
.container .column:last-child {
  flex-grow: 0;
}

.container .column:nth-child(2) {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
} */

.buttonIcon {
  width: 16px;
  height: 16px;
  fill: #4d5353;
  transition: fill 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
